<!DOCTYPE html>
<html>
  <head>
    <title>F L A S K R</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <br /><br />
      <h1>F L A S K R</h1>
      <br /><br />

      <a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>

      {% if not session.logged_in %}
      <a class="btn btn-success" role="button" href="{{ url_for('login') }}"
        >log in</a
      >
      <a class="btn btn-primary" role="button" href="{{ url_for('register') }}">Register</a>
      {% else %}
      <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}"
        >log out</a
      >
      {% endif %}

      <br /><br />

      {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">
        {{ message }}
      </div>
      {% endfor %} {% if session.logged_in %}
      <form
        action="{{ url_for('add_entry') }}"
        method="post"
        class="add-entry form-group"
      >
        <dl>
          <dt>Title:</dt>
          <dd>
            <input
              type="text"
              size="30"
              name="title"
              class="form-control col-sm-4"
            />
          </dd>
          <dt>Text:</dt>
          <dd>
            <textarea
              name="text"
              rows="5"
              cols="40"
              class="form-control col-sm-4"
            ></textarea>
          </dd>
          <!-- Adding checkboxes for Tag selection-->
          <dt>Choose Some Flair! CHOOSE IT NOW !!:</dt>
          <dd>
            {% for tag in tags %}
              <input type="checkbox" id="tag_{{ tag.id }}" name="tags" value="{{ tag.id }}">
              <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
            {% endfor %}
          </dd>
          <br /><br />
          <dd>
            <input type="submit" class="btn btn-primary" value="Share" />
          </dd>
        </dl>
      </form>
      {% endif %}

      <br />

      <ul class="entries">
        {% for entry in entries %}
        <li class="entry">
          <h2 id="{{ entry.id }}">{{ entry.title }}</h2>
          {{ entry.text|safe }}
          <!-- Display the username of the post's author -->
          <p>Posted by: {{ entry.user.username }} at {{ entry.created_at.strftime('%H:%M:%S on %m-%d-%Y') }}</p>
          <p>Tags:
            {% for tag in entry.tags %}
              <span class="tag">{{ tag.name }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        </li>
        {% else %}
        <li><em>No entries yet. Add some!</em></li>
        {% endfor %}
      </ul>
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
