<!DOCTYPE html>
<html>
<head>
    <title>Flaskr-TDD | Register</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <br /><br />
        <h1>Flaskr</h1>
        <br /><br />

        {% for message in get_flashed_messages() %}
        <div class="flash alert alert-success col-sm-4" role="success">
            {{ message }}
        </div>
        {% endfor %}

        <form method="post" class="form-signin">
            <h2 class="form-signin-heading">Please register</h2>
            
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>

        <br />
        Already have an account? <a href="{{ url_for('login') }}">Log in</a>
    </div> <!-- /container -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>

